<footer class="page-footer font-small r-cor pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Me Acompanhe nas Redes Sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.linkedin.com/in/lucas-reis-539611152/" target="_blank" class="fa fa-linkedin"></a>

          </li>

          <li>
            <a href="https://github.com/therealkaslow" target="_blank" class="fa fa-github"></a>
          </li>

          <li>
            <a href="https://www.instagram.com/therealkaslow/" target="_blank" class="fa fa-instagram"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright r-cor-letra-fundo text-center py-1">
    <span class="text-light">Direitos Autorais pelo The Real: <h5>Kaslow</h5></span>

  </div>
</footer>
